body {
     background-color: purple;
	 font-family: Cambria;
     }
p  {
    color:pink;
     }
h1  {
	color:black;
    }
h2  {
	color: purple;
	
ul{
	list - sttyle - type : none;
	width: 200px;
	background-color: #f1f1f1;
}

li a {
	display: block;
	color:black;
	padding:  8px 16px;
	text-decoration: none;
}